<article class="card card--chirp">
  <div class="chirp">
    <div class="chirp__details">
      <%= image_tag "https://api.dicebear.com/5.x/fun-emoji/svg?seed=...",
            class: "avatar",
            alt: "Loading avatar" %>
      <div>
        <div class="chirp__username">
          @........
        </div>
        <div class="chirp__message">
          ......... ......... ......... ......... ......... ......... ......... ......... ......... .........
          ......... ......... ......... .........
        </div>
      </div>
    </div>
  </div>
</article>
