<article class="card">
  <div class="chirp-box">
    <div class="profile">
      <%= image_tag "https://api.dicebear.com/5.x/fun-emoji/svg?seed=...", class: "avatar" %>
    </div>
    <div class="chirp-contents">
      <div class="username">
        @........
      </div>
      <div class="message">
        ......... ......... ......... ......... ......... ......... ......... ......... ......... ......... 
        ......... ......... ......... ......... ......... ......... ......... ......... ......... ......... 
        ......... ......... ......... ......... ......... ......... ......... ......... 
      </div>
    </div>
  </div>
</article>
