<h2>About</h2>
<p>
  Chirper is a microblogging site built to play around with Rails 7, Hotwire, and friends. Source code can be found
  <%= link_to("here", "https://github.com/razwanizmi/chirper", target: "_blank", rel: "noopener noreferrer") %>.
</p>
