/* Application styles */
@import url('pico.min.css');

/* Loading styles */

[aria-busy='true']:not(input, select, textarea):not(:empty) {
  position: relative;
  opacity: 0.6;
}

[aria-busy='true']:not(input, select, textarea):not(:empty)::before {
  position: absolute;
  left: 50%;
  top: 50%;
}

turbo-frame[aria-busy='true'] {
  display: block;
}

.container--main {
  max-width: 600px;
}

.nav-brand {
  margin-bottom: 0;
  margin-top: 0;
}

.theme-toggler {
  cursor: pointer;
}

.flashes {
  position: relative;
}

.flash {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.flash.notice,
.flash.success {
  background-color: #bbf7d0;
  color: #14532d;
}

.flash.alert,
.flash.error {
  background-color: #fca5a5;
  color: #7f1d1d;
}

.settings-avatar {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 9999px;
  margin-right: 0.5rem;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px;
}

.chirp-box {
  padding: 30px;
  max-width: 500px;
  margin-left: 0px;
  display: flex;
}

.chirp-form {
  margin-bottom: 0;
}

.chirp-form textarea {
  padding: 0;
  width: 100%;
  margin-bottom: -9px;
}

.chirp-form textarea[aria-invalid='true'] {
  padding-left: 0 !important;
}

.chirp-form small {
  margin-top: 9px;
  margin-bottom: 0;
}

.chirp-contents {
  width: 100%;
}

.chirp-actions {
  display: flex;
  justify-content: flex-end;
  max-width: 500px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.chirp-actions form {
  all: unset;
}

.chirp-actions input,
.chirp-actions button {
  all: unset;
  margin-left: 0.5rem;
  cursor: pointer;
}

.chirp-actions a {
  margin-left: 0.5rem;
}

.chirp-actions a:hover,
.chirp-actions input:hover,
.chirp-actions button:hover {
  text-decoration: none;
  transform: translateY(-0.25rem);
}

.profile {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 40px;
  margin-right: 20px;
}

.profile .avatar {
  font-size: 40px;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
}

.username {
  opacity: 0.7;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.message {
  line-height: 1.5;
  margin-bottom: 0;
}

.message textarea {
  margin-bottom: 0;
}

@keyframes fade-in-and-out {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
