/* Application styles */
@import url('pico.min.css');

/* Loading styles */

[aria-busy='true']:not(input, select, textarea):not(:empty) {
  opacity: 0.6;
  position: relative;
}

[aria-busy='true']:not(input, select, textarea):not(:empty)::before {
  left: 50%;
  position: absolute;
  top: 50%;
}

turbo-frame[aria-busy='true'] {
  display: block;
}

/* Navbar */

.container--main {
  max-width: 500px;
}

.navbar__brand {
  margin-bottom: 0;
  margin-top: 0;
}

.navbar__theme {
  cursor: pointer;
}

/* Flashes */

.flashes {
  position: relative;
}

.flashes__flash {
  padding-bottom: 0.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.25rem;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.flashes__flash--notice,
.flashes__flash--success {
  background-color: #bbf7d0;
  color: #14532d;
}

.flashes__flash--alert,
.flashes__flash--error {
  background-color: #fca5a5;
  color: #7f1d1d;
}

/* Avatar */

.avatar {
  border-radius: 9999px;
  height: 40px;
  width: 40px;
}

.avatar--settings {
  margin-right: 0.5rem;
}

/* Chirp */

.avatar--chirp {
  margin-right: 20px;
}

.card--chirp {
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 10px;
}

.chirp {
  padding: 30px;
}

.chirp__details {
  display: flex;
}

.chirp__content {
  flex: 1;
}

.chirp__username {
  font-size: 0.9rem;
  margin-bottom: 5px;
  opacity: 0.7;
}

.chirp__message {
  line-height: 1.5;
  margin-bottom: 0;
}

.chirp__actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.chirp__actions form {
  all: unset;
}

.chirp__actions a,
.chirp__actions button,
.chirp__actions input {
  all: unset;
  cursor: pointer;
  margin-left: 10px;
}

.chirp__actions a:hover,
.chirp__actions button:hover,
.chirp__actions input:hover {
  text-decoration: none;
  transform: translateY(-5px);
}

.chirp__edit {
  margin-bottom: 0;
}

.chirp__edit textarea {
  margin-bottom: -0.5rem;
  padding: 0;
  width: 100%;
}

.chirp__edit textarea[aria-invalid='true'] {
  padding-left: 0 !important;
}

.chirp__edit small {
  margin-top: 9px;
  margin-bottom: 0;
}

@keyframes fade-in-and-out {
  0%,
  100% {
    opacity: 0;
  }
  25%,
  75% {
    opacity: 1;
  }
}
