<nav class="container">
  <ul>
    <li>
      <h1 class="nav-brand">
        <%= link_to "Chirper", root_path %>
      </h1>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "About", "" %>
    </li>
    <li>
      <%= link_to "Sign In", "", role: "button" %>
    </li>
    <li>
      <span data-controller="theme"
            data-theme-target="toggler"
            data-action="click->theme#click mouseover->theme#mouseover mouseout->theme#mouseout"
            class="theme-toggler">
        🔅
      </span>
    </li>
  </ul>
</nav>
