<nav class="container">
  <ul>
    <li>
      <h1 class="navbar__brand">
        <%= link_to "Chirper", root_path %>
      </h1>
    </li>
  </ul>
  <ul>
    <li>
      <%= link_to "About", about_path %>
    </li>
    <li>
      <% if signed_in? %>
        <%= link_to "Settings", settings_path %>
      <% else %>
        <%= link_to "Sign In", signin_path, role: "button" %>
      <% end %>
    </li>
    <li>
      <span data-controller="theme"
            data-theme-target="toggler"
            data-action="click->theme#click mouseover->theme#mouseover mouseout->theme#mouseout"
            class="navbar__theme">
        🔅
      </span>
    </li>
  </ul>
</nav>
